{% extends 'blog/base.html' %}

    {% block content %}
        <table class="table">
            <caption>Таблица авторов</caption>
            <tr>
                <th scope="col">Автор</th>
                <th scope="col">Всего статей</th>
                <th scope="col">Дата последней статьи</th>
            </tr>
            {% for user in data %}
                <tr>
                    <td scope="row">{{ user.user_name }}</td>   
                    <td scope="row">{{ user.sum_post }}</td>
                    <td scope="row">{{ user.last_date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}