{% extends 'blog/base.html' %}
{% load thumbnail %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=object.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        {% endif %}
        <div class="post-title-box">
            <h1>{{ object.title }}</h1>
            {% if object.published_at %}
                <div class="date">опубликован: {{ object.published_at }}</div>
            {% endif %}
        </div>
        {% if post.photo %}
            {% thumbnail post.photo "800x600" crop="center" as ph %}
                <img src="/media/{{ post.photo }}" 
                width="{{ ph.width }}" height="{{ ph.height }}" alt="photo">
            {% endthumbnail %} 
        {% endif %}
        <p>{{ object.text|linebreaksbr }}</p>
    </div>
{% endblock %}