{% extends 'blog/base.html' %}
{% load thumbnail %}

{% block content %}
    {% for post in object_list %}
        <div class="post">
            <p>опубликован: {{ post.published_at }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% if post.photo %}
                {% thumbnail post.photo "320x200" crop="center" as ph %}
                    <img src="/media/{{ post.photo }}" 
                    width="{{ ph.width }}" height="{{ ph.height }}" alt="photo">
                {% endthumbnail %}    
            {% endif %}
            <p>{{ post.text|safe }}</p>
        </div>
    {% endfor %}
{% endblock %}
